--
-- PostgreSQL database dump
--

\restrict j7vrMCg8wA9ONCfmm45uSipUSIQKcdbR9qQe6x2BqcqLSPGVf3hNeEcdK8ZBOxQ

-- Dumped from database version 16.10
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: lasertg; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA lasertg;


ALTER SCHEMA lasertg OWNER TO postgres;

--
-- Name: prepper; Type: SCHEMA; Schema: -; Owner: ericbo
--

CREATE SCHEMA prepper;


ALTER SCHEMA prepper OWNER TO ericbo;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aws_certified_architect_associate_questions; Type: TABLE; Schema: prepper; Owner: ericbo
--

CREATE TABLE prepper.aws_certified_architect_associate_questions (
    id integer NOT NULL,
    question_id integer NOT NULL,
    question_number integer NOT NULL,
    category text,
    difficulty text,
    domain text,
    question_text text NOT NULL,
    options jsonb NOT NULL,
    correct_answer text NOT NULL,
    explanation text,
    explanation_details jsonb,
    multiple_answers boolean
);


ALTER TABLE prepper.aws_certified_architect_associate_questions OWNER TO ericbo;

--
-- Name: comptia_cloud_plus_questions; Type: TABLE; Schema: prepper; Owner: ericbo
--

CREATE TABLE prepper.comptia_cloud_plus_questions (
    id integer NOT NULL,
    question_id integer NOT NULL,
    question_number integer NOT NULL,
    category text,
    difficulty text,
    domain text,
    question_text text NOT NULL,
    options jsonb NOT NULL,
    correct_answer text NOT NULL,
    explanation text,
    explanation_details jsonb,
    multiple_answers bit(1),
    correct_answers text[]
);


ALTER TABLE prepper.comptia_cloud_plus_questions OWNER TO ericbo;

--
-- Name: comptia_id_seq; Type: SEQUENCE; Schema: prepper; Owner: ericbo
--

CREATE SEQUENCE prepper.comptia_id_seq
    START WITH 227
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prepper.comptia_id_seq OWNER TO ericbo;

--
-- Name: comptia_id_seq; Type: SEQUENCE OWNED BY; Schema: prepper; Owner: ericbo
--

ALTER SEQUENCE prepper.comptia_id_seq OWNED BY prepper.comptia_cloud_plus_questions.id;


--
-- Name: comptia_question_id_seq; Type: SEQUENCE; Schema: prepper; Owner: ericbo
--

CREATE SEQUENCE prepper.comptia_question_id_seq
    START WITH 325
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prepper.comptia_question_id_seq OWNER TO ericbo;

--
-- Name: comptia_question_id_seq; Type: SEQUENCE OWNED BY; Schema: prepper; Owner: ericbo
--

ALTER SEQUENCE prepper.comptia_question_id_seq OWNED BY prepper.comptia_cloud_plus_questions.question_id;


--
-- Name: comptia_question_number_seq; Type: SEQUENCE; Schema: prepper; Owner: ericbo
--

CREATE SEQUENCE prepper.comptia_question_number_seq
    START WITH 327
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prepper.comptia_question_number_seq OWNER TO ericbo;

--
-- Name: comptia_question_number_seq; Type: SEQUENCE OWNED BY; Schema: prepper; Owner: ericbo
--

ALTER SEQUENCE prepper.comptia_question_number_seq OWNED BY prepper.comptia_cloud_plus_questions.question_number;


--
-- Name: contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contact (
    contactid integer NOT NULL,
    userid integer NOT NULL,
    firstname text,
    lastname text,
    petname text,
    phone text,
    address text
);


ALTER TABLE public.contact OWNER TO postgres;

--
-- Name: contact_contactid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.contact ALTER COLUMN contactid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.contact_contactid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: graphics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.graphics (
    graphicid integer NOT NULL,
    graphictype smallint,
    graphictypeid smallint
);


ALTER TABLE public.graphics OWNER TO postgres;

--
-- Name: graphictype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.graphictype (
    graphictypeid smallint NOT NULL,
    graphictype text NOT NULL
);


ALTER TABLE public.graphictype OWNER TO postgres;

--
-- Name: images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.images (
    imageurl character varying,
    id bigint NOT NULL,
    prompt character varying
);


ALTER TABLE public.images OWNER TO postgres;

--
-- Name: images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material (
    materialid smallint NOT NULL,
    materialvalue text,
    materialtype text,
    materialcolor text,
    materialshape text,
    materialininventory integer,
    materialinbackorder bit(1)
);


ALTER TABLE public.material OWNER TO postgres;

--
-- Name: order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."order" (
    orderid integer NOT NULL,
    orderamount money,
    profileid integer
);


ALTER TABLE public."order" OWNER TO postgres;

--
-- Name: order_orderid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."order" ALTER COLUMN orderid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.order_orderid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile (
    profileid integer NOT NULL,
    userid integer NOT NULL,
    sessionid uuid NOT NULL,
    contactid integer NOT NULL,
    tagid integer
);


ALTER TABLE public.profile OWNER TO postgres;

--
-- Name: profile_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.profile ALTER COLUMN userid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.profile_userid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: prompt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prompt (
    answer character varying NOT NULL,
    thread character varying NOT NULL,
    question character varying,
    promptid integer NOT NULL,
    vectors double precision[]
);


ALTER TABLE public.prompt OWNER TO postgres;

--
-- Name: prompt_promptid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.prompt ALTER COLUMN promptid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.prompt_promptid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session (
    sessionid uuid NOT NULL,
    sessionstart time with time zone NOT NULL,
    userid integer NOT NULL,
    sessionduration interval NOT NULL,
    sessionstate text,
    sessionend time with time zone GENERATED ALWAYS AS ((sessionstart + sessionduration)) STORED,
    sessionhash uuid
);


ALTER TABLE public.session OWNER TO postgres;

--
-- Name: tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tag (
    tagid integer NOT NULL,
    tagtype text,
    hasdesign boolean,
    hasqrcode boolean,
    tagtextline1 text,
    tagtextline2 text,
    tagtextline3 text,
    taggraphicid integer,
    materialid smallint
);


ALTER TABLE public.tag OWNER TO postgres;

--
-- Name: tag_tagid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tag ALTER COLUMN tagid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tag_tagid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    username character varying(50) NOT NULL,
    password character varying(50) NOT NULL,
    userid integer NOT NULL,
    updateondate date
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."user" ALTER COLUMN userid ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.user_userid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comptia_cloud_plus_questions id; Type: DEFAULT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.comptia_cloud_plus_questions ALTER COLUMN id SET DEFAULT nextval('prepper.comptia_id_seq'::regclass);


--
-- Name: comptia_cloud_plus_questions question_id; Type: DEFAULT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.comptia_cloud_plus_questions ALTER COLUMN question_id SET DEFAULT nextval('prepper.comptia_question_id_seq'::regclass);


--
-- Name: comptia_cloud_plus_questions question_number; Type: DEFAULT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.comptia_cloud_plus_questions ALTER COLUMN question_number SET DEFAULT nextval('prepper.comptia_question_number_seq'::regclass);


--
-- Data for Name: aws_certified_architect_associate_questions; Type: TABLE DATA; Schema: prepper; Owner: ericbo
--



--
-- Data for Name: comptia_cloud_plus_questions; Type: TABLE DATA; Schema: prepper; Owner: ericbo
--



--
-- Data for Name: contact; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: graphics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.graphics (graphicid, graphictype, graphictypeid) FROM stdin;
\.


--
-- Data for Name: graphictype; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.graphictype (graphictypeid, graphictype) FROM stdin;
\.


--
-- Data for Name: images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material (materialid, materialvalue, materialtype, materialcolor, materialshape, materialininventory, materialinbackorder) FROM stdin;
\.


--
-- Data for Name: order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."order" (orderid, orderamount, profileid) FROM stdin;
\.


--
-- Data for Name: profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile (profileid, userid, sessionid, contactid, tagid) FROM stdin;
\.


--
-- Data for Name: prompt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prompt (answer, thread, question, promptid, vectors) FROM stdin;
test	test	\N	1	\N
test	test	\N	2	\N
test	test	\N	3	\N
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session (sessionid, sessionstart, userid, sessionduration, sessionstate, sessionhash) FROM stdin;
\.


--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tag (tagid, tagtype, hasdesign, hasqrcode, tagtextline1, tagtextline2, tagtextline3, taggraphicid, materialid) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: comptia_id_seq; Type: SEQUENCE SET; Schema: prepper; Owner: ericbo
--

SELECT pg_catalog.setval('prepper.comptia_id_seq', 233, true);


--
-- Name: comptia_question_id_seq; Type: SEQUENCE SET; Schema: prepper; Owner: ericbo
--

SELECT pg_catalog.setval('prepper.comptia_question_id_seq', 330, true);


--
-- Name: comptia_question_number_seq; Type: SEQUENCE SET; Schema: prepper; Owner: ericbo
--

SELECT pg_catalog.setval('prepper.comptia_question_number_seq', 332, true);


--
-- Name: contact_contactid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contact_contactid_seq', 39, true);


--
-- Name: images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.images_id_seq', 12, true);


--
-- Name: order_orderid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_orderid_seq', 1, false);


--
-- Name: profile_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profile_userid_seq', 1, false);


--
-- Name: prompt_promptid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prompt_promptid_seq', 3, true);


--
-- Name: tag_tagid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tag_tagid_seq', 1, false);


--
-- Name: user_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_userid_seq', 24, true);


--
-- Name: aws_certified_architect_associate_questions aws_certified_architect_associate_questions_pkey; Type: CONSTRAINT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.aws_certified_architect_associate_questions
    ADD CONSTRAINT aws_certified_architect_associate_questions_pkey PRIMARY KEY (id);


--
-- Name: aws_certified_architect_associate_questions aws_certified_architect_associate_questions_question_id_key; Type: CONSTRAINT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.aws_certified_architect_associate_questions
    ADD CONSTRAINT aws_certified_architect_associate_questions_question_id_key UNIQUE (question_id);


--
-- Name: comptia_cloud_plus_questions comptia_cloud_plus_questions_pkey; Type: CONSTRAINT; Schema: prepper; Owner: ericbo
--

ALTER TABLE ONLY prepper.comptia_cloud_plus_questions
    ADD CONSTRAINT comptia_cloud_plus_questions_pkey PRIMARY KEY (id);


--
-- Name: contact contactid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact
    ADD CONSTRAINT contactid PRIMARY KEY (contactid);


--
-- Name: graphics graphics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphics
    ADD CONSTRAINT graphics_pkey PRIMARY KEY (graphicid);


--
-- Name: graphictype graphictype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphictype
    ADD CONSTRAINT graphictype_pkey PRIMARY KEY (graphictypeid);


--
-- Name: material material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material
    ADD CONSTRAINT material_pkey PRIMARY KEY (materialid);


--
-- Name: order order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_pkey PRIMARY KEY (orderid);


--
-- Name: profile profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT profile_pkey PRIMARY KEY (profileid);


--
-- Name: prompt promptid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prompt
    ADD CONSTRAINT promptid PRIMARY KEY (promptid);


--
-- Name: session sessionid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT sessionid PRIMARY KEY (sessionid) INCLUDE (sessionid);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (tagid);


--
-- Name: user userid; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT userid UNIQUE (userid) INCLUDE (userid);


--
-- Name: question_id; Type: INDEX; Schema: prepper; Owner: ericbo
--

CREATE INDEX question_id ON prepper.comptia_cloud_plus_questions USING btree (question_id) INCLUDE (question_id) WITH (deduplicate_items='true');


--
-- Name: fki_graphictypeid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_graphictypeid ON public.graphics USING btree (graphictypeid);


--
-- Name: fki_materialid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_materialid ON public.tag USING btree (materialid);


--
-- Name: fki_profileid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_profileid ON public."order" USING btree (profileid);


--
-- Name: fki_sessionid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_sessionid ON public.profile USING btree (sessionid);


--
-- Name: fki_taggraphicid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_taggraphicid ON public.tag USING btree (taggraphicid);


--
-- Name: fki_userid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX fki_userid ON public.contact USING btree (userid);


--
-- Name: profile contactid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT contactid FOREIGN KEY (contactid) REFERENCES public.contact(contactid);


--
-- Name: graphics graphictypeid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.graphics
    ADD CONSTRAINT graphictypeid FOREIGN KEY (graphictypeid) REFERENCES public.graphictype(graphictypeid);


--
-- Name: tag materialid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT materialid FOREIGN KEY (materialid) REFERENCES public.material(materialid);


--
-- Name: order profileid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT profileid FOREIGN KEY (profileid) REFERENCES public.profile(profileid);


--
-- Name: profile sessionid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT sessionid FOREIGN KEY (sessionid) REFERENCES public.session(sessionid);


--
-- Name: tag taggraphicid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT taggraphicid FOREIGN KEY (taggraphicid) REFERENCES public.graphics(graphicid);


--
-- Name: profile tagid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT tagid FOREIGN KEY (tagid) REFERENCES public.tag(tagid);


--
-- Name: session userid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT userid FOREIGN KEY (userid) REFERENCES public."user"(userid);


--
-- Name: contact userid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contact
    ADD CONSTRAINT userid FOREIGN KEY (userid) REFERENCES public."user"(userid);


--
-- Name: profile userid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile
    ADD CONSTRAINT userid FOREIGN KEY (userid) REFERENCES public."user"(userid);


--
-- Name: TABLE contact; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.contact TO ericbo;


--
-- Name: TABLE graphics; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.graphics TO ericbo;


--
-- Name: TABLE graphictype; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.graphictype TO ericbo;


--
-- Name: TABLE images; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.images TO ericbo;


--
-- Name: TABLE "order"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public."order" TO ericbo;


--
-- Name: TABLE prompt; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.prompt TO ericbo;


--
-- Name: TABLE tag; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.tag TO ericbo;


--
-- PostgreSQL database dump complete
--

\unrestrict j7vrMCg8wA9ONCfmm45uSipUSIQKcdbR9qQe6x2BqcqLSPGVf3hNeEcdK8ZBOxQ

